<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="px500.pipoask.com">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GroovyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".module.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".module.photo.PhotoActivity"
            android:theme="@style/AppTheme.ActionBarOverlay"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".module.search.SearchActivity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".module.login.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.upload.UploadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>